<ion-view view-title="Images">
  <ion-content>
            <ion-item>
            <div class="360degree">
                <iframe class="kuula7ftjv" width="100%" height="300px" frameborder="0" scrolling="no" allowfullscreen="true" src="https://kuula.co/share/7fQDY?logo=0"></iframe>
                <h2>Beautiful garden</h2>
                <p>Windhoek, Namibia</p>
            </div>
            <div class="360degree">
                <iframe class="kuula7ftjv" width="100%" height="300px" frameborder="0" scrolling="no" allowfullscreen="true" src="https://kuula.co/share/7ftjV?logo=0"></iframe>
                <h2>Sun City Hotel</h2>
                <p>Republic of South Afrika</p>

            </div>
            <div class="360degree">
                <iframe class="kuula7lnkk" width="100%" height="300px" frameborder="0" scrolling="no" allowfullscreen="true" src="https://kuula.co/share/7lNKk?logo=0"></iframe>
                <h2>Boat Racing</h2>
                <p>Swakopmund, Namibia</p>

            </div>
            <div class="360degree">
                <iframe class="kuula7l7h8" width="100%" height="300px" frameborder="0" scrolling="no" allowfullscreen="true" src="https://kuula.co/share/7l7H8?logo=0"></iframe>
                <h2>Namib Desert</h2>
                <p>Walvis Bay, Namibia</p>

            </div>
            <div class="360degree">
                <iframe class="kuula7ftnv" width="100%" height="300px" frameborder="0" scrolling="no" allowfullscreen="true" src="https://kuula.co/share/7ftNV?logo=0"></iframe>
                <h2>Atlas Mountain</h2>
                <p>Europe</p>

            </div>
            <div class="360degree">
                <iframe class="kuula7l7jl" width="100%" height="300px" frameborder="0" scrolling="no" allowfullscreen="true" src="https://kuula.co/share/7l7JL?logo=0"></iframe>

                <h2>Our Beautiful galaxy</h2>
                <p>Windhoek, Namibia</p>
            </div>

        </ion-item>

    </ion-item>
  </ion-content>
</ion-view>