<ion-view view-title="Videos">
    <ion-content>

        <ion-item>
            <div class="video">
                <iframe class="container" width="100%" height="100%" src="https://www.youtube.com/embed/Zwc5Hn0fp0E" frameborder="0" allowfullscreen></iframe>
                <div>
                    <h2>Dinosaurs</h2>
                    <p>Windhoek, Namibia</p>
                    <div class="video">
                        <iframe class="container" width="100%" height="100%" src="https://www.youtube.com/embed/aQd41nbQM-U" frameborder="0" allowfullscreen></iframe>
                        <h2>Under water</h2>
                        <p>Swakopmund</p>

                        <div>
                            <div class="video">
                                <iframe class="container" width="100%" height="100%" src="https://www.youtube.com/embed/-xNN-bJQ4vI" frameborder="0" allowfullscreen></iframe>
                                <h2>Wonder wheel</h2>
                                <p>China</p>
                                <div>
                                    <div class="video">
                                        <iframe class="container" width="100%" height="100%" src="https://www.youtube.com/embed/mlOiXMvMaZo" frameborder="0" allowfullscreen></iframe>
                                        <h2>Surrounded by Wild elephants</h2>
                                        <p>Kenya</p>
                                        <div>




                                            <ion-card>

                                                <ion-card-header>
                                                    Card Header
                                                </ion-card-header>

                                                <ion-card-content>
                                                    <!-- Add card content here! -->

                                                    <div class="video">
                                                        <iframe class="container" width="100%" height="100%" src="https://www.youtube.com/embed/dKj4PDldebc" frameborder="0" allowfullscreen></iframe>
                                                        <h2>The jungle book</h2>
                                                        <p>Somewhere in the world</p>
                                                        <div>
                                                </ion-card-content>

                                            </ion-card>

    </ion-content>
</ion-view>