/* 360 degree 

author: Lenis Heita\
Email: lenisheita@gmail.com\
githubname: lenisheita\
 */


/*
.video-container {
position: relative;
padding-bottom: 100%;
}

*/


@import url(http://fonts.googleapis.com/css?family=Oxygen);
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



.video{
    width:100%;
    height: 100%;

}

.container{
    padding-top: 2%;
    padding-right: 2%;
}

.image-container{
    padding-left: 2% !important;
    padding-right: 2% !important; 
}


.welcome, h1{
    padding-top: 20% !important;
    padding-left: 5% !important;
    text-align: center;
    font-size: 32px !important;
    font-family: "Oxygen", sans-serif !important;
    color: #000 !important;
}

.back-link a {
		color: #4ca340;
		text-decoration: none; 
		border-bottom: 1px #4ca340 solid;
	}
	.back-link a:hover,
	.back-link a:focus {
		color: #408536; 
		text-decoration: none;
		border-bottom: 1px #408536 solid;
	}
	h1 {
		height: 100%;
		/* The html and body elements cannot have any padding or margin. */
		margin: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-size: 32px;
		margin-bottom: 3px;
	}
	.entry-header {
		text-align: left;
		margin: 0 auto 50px auto;
		width: 80%;
        max-width: 978px;
		position: relative;
		z-index: 10001;
	}
	#demo-content {
		padding-top: 100px;
	}